<br>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Ihsib Osmonaj 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script>
var path = window.location.href;
if(path.includes('/contact')){
	document.querySelector("#kontakt").classList.add("active");
		
}
else if(path.includes('/view')){
	document.querySelector("#viewData").classList.add("active");
}
else if(path.includes('/add')){
	document.querySelector("#addData").classList.add("active");
}
else{
	document.querySelector("#dashboard").classList.add("active");
	
}
</script>
	
		
  </body>

</html>